.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-list-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  background-color: #00bc8c;
  list-style: none;
  border-radius: 10px;
}

.item-list-element-history {
  padding: 10px;
}
